.payment-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.payment-modal {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.payment-modal h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.payment-form {
    display: flex;
    flex-direction: column;
}

.payment-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.payment-form input:focus {
    border-color: #4CAF50; /* Color de borde al enfocar */
    outline: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.confirm-button {
    padding: 10px;
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.confirm-button:hover {
    background-color: #45a049; /* Color de fondo al pasar el mouse */
    transform: translateY(-2px); /* Efecto de elevación */
}

.cancel-button {
    padding: 10px;
    background-color: #f44336; /* Color de fondo del botón de cancelar */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.cancel-button:hover {
    background-color: #e53935; /* Color de fondo al pasar el mouse */
    transform: translateY(-2px); /* Efecto de elevación */
}